{% extends 'base.html.twig' %}

{% block title %}Accueil Beauty & Wellness
{% endblock %}


{% block body %}


	<div class="container">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100  " src="img/tarah-dane-4JsvuH-pRzo-unsplash.jpg" data-slide-to="0" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 " src="img/jess-harper-sunday-3E0njpQbSbM-unsplash.jpg" data-slide-to="1" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 " src="img/amy-shamblen-xwM61TPMlYk-unsplash.jpg" data-slide-to="2" alt="Third slide">
				</div>
			</div>
		</div>
	</div>
	<main class="container">
		<h2 class="text-center p-3">Bienvenue sur notre site de cosmétique</h2>


		
		{% include "bestseller.html.twig" %}
		{% include "soin.html.twig" %}




	</main>
{% endblock %}
