

@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "~bootstrap/scss/bootstrap";




//****************************************************//
body {
	background: linear-gradient(-45deg, white);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: 'Montserrat', sans-serif;
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// -----------------produit --------------------

// .produit{
//     background-color: rgb(236, 221, 221);
//     padding-bottom: 30px;
// } 

// .articleProduit{
//     /* border: 6px solid yellow; */
//     border-radius:  6% 6% 0% 0%;
    
//     box-shadow:15px 5px 5px 5px rgb(117, 114, 114)
   
// }
// .produit article{
//    /* border: 6px solid; */
//     margin-top: 25px;
//     padding-top: 5px;
//     padding-bottom: 5px;
//     box-shadow:15px 5px 5px 5px rgb(117, 114, 114)
// }
// .produit article img{
//     border: 20px solid rgb(202, 194, 194);
//     border-radius: 6% 6% 0% 0%;
//     padding: 5px;
    
   
// }
// .card-body{
//     background-color: rgb(202, 194, 194);
    
// }
// .btn-primary{
//     background-color: rgb(70, 67, 67);
//     border: 4px solid;
// }
// .card-img-top{
//     width: 200px;
//     height: 200px;
// }
.card{
    background: rgb(202, 194, 194);
    border: 4px solid red;
   
 } 



// -----------------home page --------------------

header{
    /* height: 200px; */
        display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 !important;
      /* position: fixed;
      z-index: 2; */
  }

  

  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: black; /* noir */
    color: white;
  }
.navbar-brand {
    color : black; 
}
  
  /**********************Carousel Home Page*************************/
  .carousel-inner{
    width: 100%;
    height: 500px;
      
  } 

  /*********************Header top section****************************/
.header-top{
    height:100px;
     display: flex;
     justify-content: space-around;
     align-items: center;  
     padding: 0 20px;
     background-position-x: right;
     background-position-y: center;
     background-size: cover;
 }
 
 
 
 
 .header-top .search-bar
 {
     width: 40%;
 }
 
 .header-top .search-bar
 {
     font-size: 12px;
     color: #fff;
     background-color: #e7480f;
     text-decoration: none;
     /* z-index: 2; */
 }
  



// ------- style register 

main{
    background-color: white;
    width: 100vw;
    background-size: cover;
    background-position: center;
 
     
   
 }
 
 .card{
     margin: 40px 0;
     background: linear-gradient(45deg, black, transparent);
     color: white;
     font-weight: 600;
   
 }
 
 .card button{
     color: white;
     font-weight: 600;
     background-color: #5e9dd0;
 
 }
 
 .card button:hover{
     background-color: aquamarine;
     transition: 0.5s;
 }



 // ------- style photo homep

.img-thumbnail {
    
    align-self: center;

}

// ---------- logo magazine 

.container-logo {

    height: 150px;
    width: 150px;
    display: flex; 
    position: absolute;
}
