

@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "~bootstrap/scss/bootstrap";



//****************************************************//
// body {
// 	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
// 	background-size: 400% 400%;
// 	animation: gradient 15s ease infinite;
// }

// @keyframes gradient {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }



body{
    background:rgb(245, 254, 255) ;
    font-family: 'Dosis', sans-serif;

}
// -----------------produit --------------------

.produit{
    background-color: white;
    padding-bottom: 30px;
   
} 

.articleProduit{
    
    margin-bottom: 40px; 
    border: 1px solid rgb(224, 222, 222)
   
}

.produit article img{
     border: 20px solid white;
  
    padding: 2px;
    
   

 } 



// -----------------home page --------------------

header{
    /* height: 200px; */
        display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 !important;
      /* position: fixed;
      z-index: 2; */
  }

  

  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: black; /* noir */
    color: white;
  }
.navbar-brand {
    color : black; 
}
  
  /**********************Carousel Home Page*************************/
  .carousel-inner{
    width: 100%;
    height: 400px;
      
  } 

  /*********************Header top section****************************/
// .header-top{
//     height:100px;
//      display: flex;
//      justify-content: space-around;
//      align-items: center;  
//      padding: 0 20px;
//      background-position-x: right;
//      background-position-y: center;
//      background-size: cover;
//  }
 
 
 
 
//  .header-top .search-bar
//  {
//      width: 40%;
//  }
 
//  .header-top .search-bar
//  {
//      font-size: 12px;
//      color: #fff;
//      background-color: #e7480f;
//      text-decoration: none;
//      /* z-index: 2; */
//  }
  



// ------- style register 

main{
    background-color: white;
    width: 100vw;
    background-size: cover;
    background-position: center;
 
     
   
 }

 //------------------css non fonctionnel-----------------------------
//  .card{
//      margin: 40px 0;
//      background: linear-gradient(45deg, black, transparent);
//      color: white;
//      font-weight: 600;

   
//  }
 
//  .card button{
//      color: white;
//      font-weight: 600;
//      background-color: #5e9dd0;
 
//  }
 
//  .card button:hover{
//      background-color: aquamarine;
//      transition: 0.5s;
//  }



 // ------- style photo homep

.img-thumbnail {
    
    align-self: center;

}

// ---------- logo magazine 

.container-logo {

    height: 150px;
    width: 150px;
    display: flex; 
    position: absolute;
}





.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .btn-ghost:hover {
    opacity: 1;
  }
  

  /* --------------------------- show ----------------- */
.space {
	width: 60%;
	padding : 20px;
	margin: 30px;
	border: 1px solid #4A4A4A;
	border-radius: 5px;

}

.space img{
	height : 240px;
	width: 480px;
}